<% provide(:title, 'About Us') %>
<h1>About Us</h1>

<div class="center">
<%= link_to image_tag("profile_pic.jpg", alt: "Alec Jen"), 'http://www.linkedin.com/pub/alec-jen/63/a28/b71' %>
</div>
</br>

<p>
  This application stems from the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
  </br>
  Whether it goes anywhere, I would like to hope so.
</br>
  I plan to make changes in the near future: it'd be great if you stuck around to see!
</br>
  As you can tell, there's not much to do right now. Hopefully I can make things...better.
</br>
</br>
</br>
  Again, thanks for visiting!
</br>
  Please let me know if you have any recommendations...
  </br>
  The site is very early in its stages and is open to any direction!
</br>
</br>
</br>
</br>
</br>
  -Alec Jen
</p>