<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This application stems from the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
  </br>
  Whether it goes anywhere, I would like to hope so. I plan to make changes in the near future: it'd be great if you stuck around to see!
</br>
  Thanks for visiting! Contact me if you need anything.
</p>